<h1 mat-dialog-title>Edit element</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Number</mat-label>
        <input matInput
            [(ngModel)]="editedElement.position"
            disabled />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput
            [(ngModel)]="editedElement.name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Weight</mat-label>
        <input matInput
            [(ngModel)]="editedElement.weight"
            type="number" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Symbol</mat-label>
        <input matInput
            [(ngModel)]="editedElement.symbol" />
    </mat-form-field>
</div>
<div mat-dialog-actions
    align="end">
    <button mat-button
        (click)="onCancel()">Cancel</button>
    <button mat-button
        (click)="onSave()">Save</button>
</div>